@media (max-width: 1920px) {
  #pageHeader {
    padding: 32px 0;
  }

  #pageHeader .pageTitle {
    font-size: 34px;
    line-height: 38px;
  }

  .breadcrumb .breadcrumb-item,
  .breadcrumb .breadcrumb-item a {
    font-size: 14px;
  }

  .form label {
    font-size: 28px;
  }

  .form-control {
    line-height: 18px;
    padding: 20px;
  }

  .customTypeRadio input ~ .customTypeimg img {
    max-height: 80px;
  }

  .customSelect select {
    font-size: 15px;
    line-height: 35px;
  }

  .btn-secondary {
    line-height: 35px;
    font-size: 15px;
  }

  .topBanner .bannerText > small {
    line-height: 34px;
  }

  .topBanner .bannerText strong {
    font-size: 18px;
  }

  .topBanner .bannerText .price {
    font-size: 22px;
    line-height: 24px;
  }

  .topBanner .bannerText p {
    font-size: 13px;
  }

  .topBanner .topBannerphoto img {
    max-height: 150px;
  }

  .topBanner .bannerText .btn {
    line-height: 20px;
  }

  .asideTitle {
    font-size: 22px;
    line-height: 36px;
  }

  .categoryList {
    max-height: 150px;
  }

  .categoryList a {
    font-size: 15px;
    line-height: 25px;
  }

  .filterDeleteBox strong {
    font-size: 18px;
  }

  .filterDeleteBox a {
    padding: 0 10px;
    font-size: 14px;
    line-height: 40px !important;
  }

  .productList .productItem strong {
    font-size: 24px;
    line-height: 36px;
  }

  .productList .productItem p {
    font-size: 14px;
    line-height: 22px;
    max-height: 72px;
  }

  aside .priceFilter input[type="range"] {
    height: 8px;
    border-radius: 10px;
  }

  aside .priceFilter input[type="range"]::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
  }

  .pagination .page-item .page-link {
    font-size: 15px;
    line-height: 60px;
  }

  .repairGroup a {
    padding: 15px 20px;
    font-size: 18px;
  }

  .repairGroup a img {
    max-height: 50px;
  }

  .footerLogo a img {
    max-width: 230px;
  }

  .myAccountPage .AccountPageDesc {
    margin-bottom: 60px;
  }

  .myAccountPage .accountLinks a {
    font-size: 14px;
  }

  .searchHeader .searchKeyword {
    font-size: 24px;
    line-height: 36px;
  }

  .textSearchList a strong {
    font-size: 22px;
  }

  .textSearchList a p {
    font-size: 15px;
  }

  .searchHeader span {
    font-size: 16px;
  }

  .searchHeader .searchInput input {
    line-height: 36px;
  }

  .faqList .questItem {
    padding: 22px 0;
  }

  .faqList .questItem strong {
    font-size: 24px;
    line-height: 36px;
  }

  .faqList .questItem p {
    font-size: 15px;
    line-height: 22px;
  }

  .basketList {
    padding: 20px 0;
  }

  .basketHeader {
    padding: 0 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 55px;
    letter-spacing: -0.07em;
  }

  .basketItem .basketItemPhoto {
    max-width: 140px;
  }

  .basketItem .basketItemDetail {
    padding: 0 20px;
  }

  .basketItem .basketItemDetail strong {
    font-size: 25px;
    line-height: 28px;
  }

  .basketItem .basketItemDetail span {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .basketItem .basketItemDetail i {
    font-size: 16px;
    line-height: 18px;
  }

  .basketItem .basketItemDetail p {
    font-size: 14px;
  }

  .basketItem .stock {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }

  .basketItem .stock.true:before {
    display: block;
    margin: 0 auto 10px;
  }

  .basketItem .price strong {
    font-size: 28px;
  }

  .basketItem .price small {
    font-size: 14px;
  }

  .basketItem .customSelect {
    margin-right: 5px;
  }

  .basketItem .customSelect:before {
    left: 15px;
  }

  .basketItem select {
    padding: 0 35px;
    line-height: 25px;
  }

  .basketItem .customSelect + a {
    height: 36px;
    width: 36px;

    line-height: 29px;
  }

  .basketItem .total {
    font-size: 28px;
    line-height: 30px;
  }

  .basketFooterPrice span {
    line-height: 58px;
    font-size: 18px;
    font-weight: 700;
  }

  .basketFooterPrice i {
    font-size: 24px;
    font-style: normal;
    line-height: 58px;
  }

  .basketFooter small {
    font-size: 12px;
  }

  .basketLogin {
    padding: 50px 0;
  }

  .basketLogin h3 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 800;
    letter-spacing: -0.07em;
    margin-bottom: 30px;
  }

  .btn-primary-outline {
    line-height: 32px;
  }

  .basketAdress {
    margin: 50px 0;
  }

  .adressListTitle {
    font-size: 17px;
    line-height: 24px;
  }

  .adressListDetail span {
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: #2e2e2d;
  }

  .adresslistBox a.btn {
    padding: 0px 0;
    font-size: 14px;
  }

  .adresslistBox a.btn img {
    margin-right: 10px;
  }

  .basketCargo {
    margin: 50px 0;
  }

  .basketCargoItem {
    padding: 20px 20px;
  }

  .cargoRadio {
    position: relative;
  }

  .cargoRadio input ~ span {
    width: 22px;
    height: 22px;
  }

  .cargoRadio input:checked ~ span:before {
    width: 18px;
    height: 18px;
  }

  .basketCargoItem .icon img {
    height: 40px;
    margin: auto;
  }

  .cargoDetail strong {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.07em;
  }

  .cargoDetail span {
    font-size: 13px;
  }

  .basketCargoItem .cargoPrice {
    color: #2e2e2d;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .basketSummary {
    margin: 50px 0;
  }

  .summaryTitle {
    font-size: 24px;
    line-height: 35px;
  }

  .paymentItem {
    padding: 40px;
  }

  .summaryDetail {
    padding: 35px;
  }

  .summaryDetail .articles strong {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
  }

  .summaryDetail .articles span {
    line-height: 20px;
    font-size: 15px;
  }

  .summaryDetail .summaryDetailItem .itemDet strong {
    font-size: 24px;
    line-height: 44px;
  }

  .summaryDetail .summaryDetailItem .itemDet span {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }

  .summaryDetail .summaryDetailItem .itemDet span s {
    font-size: 15px;
  }

  .summaryDetail .summaryTotal {
    padding: 25px 0 40px;
  }

  .summaryDetail .summaryTotal * {
    display: block;
  }

  .summaryDetail .summaryTotal strong {
    font-size: 18px;
  }

  .summaryDetail .summaryTotal span {
    font-size: 26px;
    line-height: 30px;
  }

  .summaryDetail .summaryAdress .adressTop strong {
    color: #2e2e2d;
    font-size: 22px;
    line-height: 58px;
  }

  .summaryDetail .summaryAdress span {
    font-size: 14px;
  }

  .summarypromoCode > strong {
    font-size: 24px;
    line-height: 55px;
    margin-bottom: 10px;
  }

  .summarypromoCode .promoBox {
    padding: 20px;
  }

  .summarypromoCode .promoBox input {
    height: 50px;
    padding: 0 27px;
  }

  .summarypromoCode .promoBox a {
    line-height: 45px;
    font-size: 18px;
    height: 50px;
    padding: 0 19px;
  }

  .progressBasket strong {
    font-size: 15px;
    line-height: 19px;
  }
}

@media (max-width: 768px) {
  /* .h4-banners .pr-md-4 {
   silinebilir
    padding-right: 1.9rem !important;
  }
  .h4-banners .pl-md-4 {
   silinebilir
    padding-left: 1.9rem !important;
  } */

  .h2b-3 img {
    width: auto;
    height: 100%;
  }

  .h4b-1,
  .h4b-2 {
    height: 430px;
  }

  .faq-banner {
    min-height: auto;
  }

  .swiper-pagination-bullets {
    display: none;
    left: 0 !important;
  }

  .swiper-container h1 {
    left: 0;
    top: 10px;
    width: 100%;
    padding: 0 20px;
  }

  .swiper-container h4 {
    left: 0;
    width: 100%;
    top: 120px;
    padding: 0 20px;
  }

  .swiper-container p {
    display: none;
  }

  .slider-buttons {
    width: 100%;
    left: 0;
    text-align: center;
  }

  .slider-buttons li {
    float: none;
  }

  .slider-buttons li + li {
    margin-top: 20px;
  }

  .h2-banner-sm h6 {
    color: #2e2e2d;
    font-weight: 300;
  }

  .h2b-3 {
    padding: 50px 30px;
  }

  .h3b-step-icon + span {
    line-height: 22px;
  }

  .h3-banner h2 {
    font-size: 35px;
    line-height: 35px;
  }

  .h3-banner h1 + h2 {
    font-size: 16px;
    line-height: 70px;
  }

  .h4b h2 {
    font-size: 32px;
    line-height: 37px;
    padding: 20px 10px 0;
  }

  .h4b h4 {
    font-size: 20px;
    line-height: 25px;
  }

  .h4b-1 .bgphoto,
  .h4b-2 .bgphoto {
    background-size: 100%;
  }

  .h4b-1 button {
    max-width: 80%;
    margin: auto;
  }

  .faqb-overlay {
    padding: 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .faqb-overlay:after {
    background-position: right;
  }

  .faq-banner h1 {
    font-size: 32px;
    line-height: 37px;
  }

  .h2-banner-sm.h2b-3 {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .h4b-1 {
    height: 441px !important;
  }
  .h4b-2 {
    height: 441px !important;
  }
}

@media (max-width: 991px) {
  /* 15.06 */

  .basketItem .border-left {
    border: none !important;
  }

  .basketItem .basketItemDetail p {
    text-align: center !important;
  }

  .basketLogin .col-lg-6:not(:first-of-type) {
    margin-top: 20px;
  }

  .avisBox > .row > .col-md-5 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-bottom: 2rem;
  }

  .avisBox > .row > .col-md-5 > .avisRate {
    border-right: none !important;
  }

  .avisBox .col-lg-7.d-flex.align-items-center {
    padding-left: 0px;
  }

  .h3-banner {
    padding: 25px;
  }

  .h4b-1 {
    height: 541px;
  }
  .h4b-2 {
    height: 541px;
  }
  .h4b h2 {
    font-size: 32px;
  }
  .h4b h4 {
    font-size: 20px;
  }
}

@media (max-width: 1440px) {
  /* 15.06 */

  .avisBox .col-lg-7.d-flex.align-items-center {
    padding-left: 20px;
  }
}

@media (max-width: 1660px) {
  .container-fluid.h1-banners > .row .row {
    flex-direction: column;
  }
}

/* Home Slider Left Align START */

@media (max-width: 768px) {
  .swiper-container.homeSlider {
    height: 896px !important;
  }

  .swiper-container.homeSlider h1 {
    left: 4rem;
    top: 12%;
  }

  .swiper-container.homeSlider h4 {
    left: 4rem;
    top: 32%;
  }

  .swiper-container.homeSlider p {
    left: 4rem;
  }

  .homeSlider .swiper-pagination-bullets {
    left: 4.5rem !important;
  }

  .homeSlider .slider-buttons {
    left: 2rem !important;
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
    left: 0 !important;
    padding-left: 0 !important;
  }

  .homeSlider .slider-buttons > li {
    margin-top: 0;
  }

  .homeSlider .slider-buttons li:first-of-type {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .swiper-container.homeSlider h4 {
    top: 24% !important;
  }
}

@media (min-width: 1700px) {
  .swiper-container.homeSlider h1 {
    left: 24rem;
  }

  .swiper-container.homeSlider h4 {
    left: 24rem;
  }

  .swiper-container.homeSlider p {
    left: 24rem;
  }

  .homeSlider .swiper-pagination-bullets {
    left: 24.5rem !important;
  }

  .homeSlider .slider-buttons {
    left: 22rem !important;
  }
}

@media (max-width: 1580px) {
  .swiper-container.homeSlider h1 {
    left: 13rem;
  }

  .swiper-container.homeSlider h4 {
    left: 13rem;
  }

  .swiper-container.homeSlider p {
    left: 13rem;
  }

  .homeSlider .swiper-pagination-bullets {
    left: 13.5rem !important;
  }

  .homeSlider .slider-buttons {
    left: 10rem !important;
  }
}

@media (max-width: 991px) {
  .homeSlider .swiper-slide {
    background-position-x: 42%;
  }

  .swiper-container.homeSlider h1 {
    left: 2rem;
  }

  .swiper-container.homeSlider h4 {
    left: 2rem;
  }

  .swiper-container.homeSlider p {
    left: 2rem;
  }

  .homeSlider .swiper-pagination-bullets {
    left: 3.5rem !important;
  }

  .homeSlider .slider-buttons {
    left: .2rem !important;
  }
}

/* Home Slider Left Align END */

@media (max-width: 1199px) {
  .basketItemDetail.border-right {
    border: none !important;
  }
}

@media (max-width: 1516px) {
  .paymentsBox + div .btn.btn-secondary {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}


@media (max-width: 1644px) {
  .contactHeader a {
    width: 60% !important
  }
}

@media (max-width: 1523px) {
  .contactHeader a {
    width: 110% !important;
  }
}

@media (max-width: 1491px) {
  .promoBox .col-lg-8 {
    flex: 0 0 58%;
  }
  .promoBox .col-lg-4 {
    flex: 0 0 42%;
    max-width: none;
  }
}

@media (max-width: 1200px) {
  .promoBox .col-lg-8 {
    flex: 0 0 55% !important;
  }
  .promoBox .col-lg-4 {
    flex: 0 0 45% !important;
    max-width: none !important;
  }

  .contactHeader a {
    width: unset !important;
  }
}

@media (max-width: 1126px) {
  .promoBox .col-lg-8 {
    flex: 0 0 100% !important;
    max-width: none !important;
  }
  .promoBox .col-lg-8 > input {
    margin-bottom: 1.5rem !important;
  }
  .promoBox .col-lg-4 {
    flex: 0 0 100% !important;
    max-width: none !important;
  }

  .promoBox > .row {
    display: flex;
    flex-direction: column !important;
  }
}

@media (max-width: 991px) {
  .promoBox .col-lg-8 {
    flex: unset !important;
  }
  .promoBox .col-lg-4 {
    flex: unset !important;
  }

  .contactHeader a {
    width: 50% !important;
  }
}

@media (max-width: 592px) {
  .contactHeader a {
    width: 100% !important;
  }
}

@media (max-width: 470px) {
  .homeSlider .slider-buttons li:first-of-type {
    margin-bottom: 20px;
  }

  .homeSlider .slider-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
    left: 0 !important;
    padding-left: 0 !important;
  }
}

@media (max-width: 528px) {
  .myAccountPage .accountLinks a {
    line-height: unset !important;
    max-height: max-content !important;
    max-width: 100% !important;
    text-align: left;
  }
}