body {
    font-family: noto-sans, sans-serif;
    font-size: 16px;
    /*line-height: 24px;*/
    font-weight: 400;
    color: #212112;

    background-color: #fff;
    overflow-x: hidden;
    transition: all 200ms linear;
}

::selection {
    color: #fff;
    background-color: #757575;
}

::-moz-selection {
    color: #fff;
    background-color: #34d6e2;
}



.start-header {
    opacity: 1;
    transform: translateY(0);

    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 5px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
    height: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    height: 40px;
    width: auto;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
    margin-right: 15px;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #212121 !important;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 200ms linear;
    font-size: 11px;
}

.nav-link img {
    width: 16px;
    margin-right: 5px;
}

.nav-item:hover .nav-link {
    color: #34d6e2 !important;
}

.nav-item.active .nav-link {
    color: #777 !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #34d6e2;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

/* #Primary style
================================================== */


.section {
    position: relative;
    width: 100%;
    display: block;
}

.full-height {
    height: 100vh;
}

.over-hide {
    overflow: hidden;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: 40px;
    transform: translateY(-50%);
    z-index: 20;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    color: #212112;
    text-align: center;
}

p {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    opacity: 1;
    transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}

body.hero-anime p {
    opacity: 0;
    transform: translateY(40px);
    transition-delay: 1700ms;
}

h1 span {
    display: inline-block;
    transition: all 300ms linear;
    opacity: 1;
    transform: translate(0);
}

body.hero-anime h1 span:nth-child(1) {
    opacity: 0;
    transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(2) {
    opacity: 0;
    transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(3) {
    opacity: 0;
    transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(4) {
    opacity: 0;
    transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(5) {
    opacity: 0;
    transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(6) {
    opacity: 0;
    transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(7) {
    opacity: 0;
    transform: translateY(-40px);
}

body.hero-anime h1 span:nth-child(8) {
    opacity: 0;
    transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(9) {
    opacity: 0;
    transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(10) {
    opacity: 0;
    transform: translateY(-20px);
}

h1 span:nth-child(1) {
    transition-delay: 1000ms;
}

h1 span:nth-child(2) {
    transition-delay: 700ms;
}

h1 span:nth-child(3) {
    transition-delay: 900ms;
}

h1 span:nth-child(4) {
    transition-delay: 800ms;
}

h1 span:nth-child(5) {
    transition-delay: 1000ms;
}

h1 span:nth-child(6) {
    transition-delay: 700ms;
}

h1 span:nth-child(7) {
    transition-delay: 900ms;
}

h1 span:nth-child(8) {
    transition-delay: 800ms;
}

h1 span:nth-child(9) {
    transition-delay: 600ms;
}

h1 span:nth-child(10) {
    transition-delay: 700ms;
}

body.hero-anime h1 span:nth-child(11) {
    opacity: 0;
    transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(12) {
    opacity: 0;
    transform: translateY(50px);
}

body.hero-anime h1 span:nth-child(13) {
    opacity: 0;
    transform: translateY(20px);
}

body.hero-anime h1 span:nth-child(14) {
    opacity: 0;
    transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(15) {
    opacity: 0;
    transform: translateY(50px);
}

h1 span:nth-child(11) {
    transition-delay: 1300ms;
}

h1 span:nth-child(12) {
    transition-delay: 1500ms;
}

h1 span:nth-child(13) {
    transition-delay: 1400ms;
}

h1 span:nth-child(14) {
    transition-delay: 1200ms;
}

h1 span:nth-child(15) {
    transition-delay: 1450ms;
}

#switch,
#circle {
    cursor: pointer;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#switch {
    width: 60px;
    height: 8px;
    border: 2px solid #34d6e2;
    border-radius: 27px;
    background: #000;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
    transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1900ms;
}

body.hero-anime #switch {
    opacity: 0;
    transform: translateY(40px);
    transition-delay: 1900ms;
}

#circle {
    position: absolute;
    top: -11px;
    left: -13px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #000;
}

.switched {
    border-color: #000 !important;
    background: #34d6e2 !important;
}

.switched #circle {
    left: 43px;
    box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
    background: #fff;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
    padding: 10px !important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    padding: 3px 15px;
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: rgba(129, 103, 169, .6);
}


h1 {
    color: #fff;
}

h1 span {
    transition-delay: 0ms !important;
}

p {
    color: #fff;
    transition-delay: 0ms !important;
}

.bg-light {
    background-color: #2E2E2D !important;
}

.start-header {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.nav-link {
    color: #fff !important;
}

.nav-item.active .nav-link {
    color: #999 !important;
}

.dropdown-menu {
    color: #fff;
    background-color: #34d6e2;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.dropdown-item {
    color: #fff;
}

.navbar-light .navbar-toggler-icon {
    border-bottom: 1px solid #fff;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    background-color: #fff;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}




@media (max-width: 767px) {

    h1 {
        font-size: 38px;
    }

    .nav-item:after {
        display: none;
    }

    .nav-item::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }

    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(90deg);
        opacity: 0;
    }

    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
        margin-top: 10px !important;
        bottom: 20px !important;
    }

    .nav-item::before {
        background-color: #fff;
    }

    .dropdown-toggle::after {
        background-color: #fff;
    }

    .dropdown-menu {
        background-color: transparent;
        box-shadow: none;
    }
}

/* #Link to page
================================================== */

.link-to-portfolio {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 200;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 3px;
    background-position: center center;
    background-size: cover;
    background-image: url('https://ivang-design.com/ig-logo.jpg');
    box-shadow: 0 0 0 2px rgba(12, 12, 12, .1);
    transition: opacity .2s, border-radius .2s, box-shadow .2s;
    transition-timing-function: ease-out;
}

.link-to-portfolio:hover {
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 20px rgba(12, 12, 12, .1);
}

.container-h-icons img {
    width: 15px !important;
    position: relative;
    top: -7px;
}

.container-h-icons .col {
    padding-left: 0px;
}

.container-h-icons span {
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    width: 80%;
    line-height: 15px;
    left: 5px;
}

.container-h-icons span b {
    color: #4BE9F5;
    font-weight: normal;
}

.header-search {
    border-radius: 25px;
    background-color: #1f2029;
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 100%;
}

.sub-hm .nav-link {
    display: block;
    margin-left: 10px;
    height: 100%;
    width: 105px;
    line-height: 11px;
    padding: 20px 10px !important;
    font-size: .6rem;
    text-align: center;
}

.sub-hm .nav-link img {
    display: table;
    padding-bottom: 0px;
    position: relative;
    top: -3px;
    width: 16px;
    margin: auto;
}

.sub-hm .nav-item:nth-child(2) .nav-link img {
    padding-bottom: 0px !important;
    margin-top: 1px;
    width: 11px !important;
}

.sub-hm .active {
    background-color: #1f2029;
}

.homeSlider {
    position: absolute;
}

.homeSlider .swiper-slide {
    background-image: url(/assets/images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.swiper-container.homeSlider {
    height: 630px;
}

.swiper-container.homeSlider h1 {
    top: 20%;
    left: 19rem;
    width: 350px;
    font-weight: 900; 
    text-align: left;
    display: block;
    position: absolute;
}

.swiper-container.homeSlider h4 {
    font-weight: 300;
    top: 44%;
    left: 19rem;
    width: 350px;
    color: #FFF;
    display: block;
    text-transform: uppercase;
    position: absolute;
}

.swiper-container.homeSlider p {
    color: #000;
    width: 360px;
    text-align: left;
    font-size: 13px;
    position: absolute;
    top: 52%;
    left: 19rem;
}

.homeSlider .swiper-pagination-bullets {
    text-align: unset !important;
    left: 19.5rem !important;
    bottom: 5rem !important;
}

.homeSlider .swiper-pagination-bullet {
    border-radius: 0px !important;
    width: 65px !important;
}

.homeSlider .swiper-pagination-bullet {
    background-color: #FFF !important;
    opacity: 1 !important;
    height: 5px !important;
}

.homeSlider .swiper-pagination-bullet-active {
    background-color: #000 !important;

}

.homeSlider .swiper-slide {
    width: 100% !important;
}

.homeSlider .swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {

    color: #FFF;
}

.homeSlider .swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    color: #FFF;
}

.homeSlider .slider-buttons {
    position: absolute;
    bottom: 6rem;
    left: 16rem;
}

.homeSlider .slider-buttons li {
    float: left;
    margin-left: 10px;
    list-style: none;
}

.homeSlider .slider-buttons button {
    padding: 5px 40px;
    border-radius: 20px;
}

.homeSlider .slider-buttons .btn-outline-light {
    border-width: 3px !important;
}

.homeSlider .slider-buttons .btn-dark {
    color: #4BE9F5;
}

.h1-banners {
    /* 15.06 */
    margin-top: 135px;
    margin-bottom: 50px;
}

.h1-banner {
    width: 100%;
    border-radius: 15px;
    min-height: 258px;
}

.h1-banners .banner1 .h1-banner {
    background-image: linear-gradient(to right, #FFC645, #FDA458);
}

.h1-banners .banner2 .h1-banner {
    background-image: linear-gradient(to right, #39E890, #58FDF0);
}

.h1-banners .banner3 .h1-banner {
    background-image: linear-gradient(to right, #FF4545, #FD58B1);
}

.h1b-img {
    position: absolute;
    right: 30px;
    top: 20px;
}

.h1-banners .banner1 .h1b-img {
    width: 125px;
}

.h1-banners .banner2 .h1b-img {
    width: 85px;
}

.h1-banners .banner3 .h1b-img {
    width: 85px;
}


.h1b-title {
    position: absolute;
    bottom: 40%;
    font-weight: 300;
    font-size: 0.8rem;
    left: 37px;
    text-transform: uppercase;
}

.h1-banners .col:nth-child(3) .h1b-title {
    bottom: 50%;
}

.h1-banners .h1b-desc {
    /* 15.06 */
    position: absolute;
    bottom: 32px;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    max-width: 235px;
    left: 35px;
    color: #2E2E2D;
}

.h1b-plus {
    /* 15.06 */
    position: absolute;
    right: 30px;
    bottom: 33px;
    width: 50px;
    line-height: 42px;
    text-align: center;
    height: 50px;
    border: 4px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    transform: rotate(0deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.h1-banner:hover > .h1b-plus {

    transform: rotate(270deg);
}

@media screen and (max-width: 768px) {
    .mobile-space {
        margin-top: 10px;
    }
}

.h2-banner-sm {
    width: 100%;
    border-radius: 15px;
    padding: 18px 25px;
    position: relative;
    background-color: #F7F7F7;
}

.h2-banner-sm.h2b-3 > .h-100 > div.col-md-5 {
    /* 15.06 */
    z-index: 2;
}

.h2-banner-sm.h2b-1 {
    /* 15.06 */
    margin-bottom: 20px;
}

.h2-banner-sm img {
    width: 140px;
    position: absolute;
    right: 15px;
    top: 10px;
    border-radius: 15px;


}

.h2-banner-sm h6 {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 48px;
    font-size: 16px;
    color: #57CCEF;
}

.h2-banner-sm h1 {
    font-size: 31px;
    font-weight: 900;
    color: #2E2E2D;
    text-align: left;
}

.h2-banner-sm span {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 38px;
    line-height: 30px;
}

.h2-banner-sm span del {
    font-size: 16px;

}

.h2-banner-sm p {
    display: block;
    color: #757575;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    text-align: left;
    width: 100%;
}

.boxinRight img {
    position: relative;
    right: auto;
    top: auto;
    width: auto;
}

.look-btn {
    margin-top: 10px;
    padding: 4px 40px;
    border-radius: 20px;
    border-width: 3px;
    font-size: 15px;
    font-weight: bold;
}

.h2b-2 {
    background-image: linear-gradient(to right, #FD58B1, #FF4545);
    color: #FFF;
}

.h2b-2 * {
    color: #FFF !important;
}

.h2b-3 {
    height: 100%;
    min-height: 100%;
    padding: 0 25px 0 45px;
    background-color: #fae21c;
    overflow: hidden;
}

.h2b-3 img {
    height: auto;
    width: 100%;
}

.h2b-3 strong {
    display: block;
    font-size: 55px;
    line-height: 55px;
    text-align: left;
    width: 100%;
    font-weight: 900;
    letter-spacing: -0.07em;
}

.h2b-3 p {
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 24px;
    letter-spacing: 0;
}

.h3-banner {
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 25px;
    overflow: hidden;
    padding: 25px 25px 0;
}

.h3-banner h1 {
    font-weight: 900;
    font-size: 39px;
    line-height: 55px;
    text-align: center;
    width: 100%;
    letter-spacing: -0.07em;
    margin-top: 25px;
}

.h3-banner h2 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 30px;
    width: 100%;
    line-height: 70px;
    letter-spacing: 0.07em;
    text-align: center;
}

.h3-banner p {
    /* 15.06 */
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    width: 66.66666%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.h3-banner * {
    color: #000;
}

.h3b-step-icon {
    height: 86px;
    margin-top: 20px;
}

.h3b-step-icon + span {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    line-height: 68px;
    letter-spacing: 0.1em;
}

.h3b-step-icon ~ h2 {
    display: block;
    font-size: 35px;
    font-weight: 700;
    text-transform: none;
    line-height: 30px;
    letter-spacing: -0.05em;
}

.h3b-step-icon ~ a {
    display: block;
    margin: auto;
    width: 50px;
    line-height: 42px;
    text-align: center;
    height: 50px;
    border: 4px solid #2E2E2D;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    transform: rotate(0deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.h3b-step-icon ~ a:hover {

    transform: rotate(270deg);
}

.h3b-i img {
    width: 100%;
}


.h4-banners img {
    width: 100%;
    position: absolute;
    pointer-events: none;
    bottom: -50px;
}

.h4b-1 {
    background-color: #FFC645;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 861px;
}

.h4b-1 .bgphoto,
.h4b-2 .bgphoto {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
}

.h4b-2 {
    background-image: linear-gradient(to right, #39E890, #58FDF0);
    color: #000;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 861px
}

.h4b {
    border-radius: 20px;
}

.h4b h2 {
    display: block;
    text-align: center;
    padding: 50px 20px 0px;
    line-height: 46px;
    font-size: 39px;
    font-weight: 900;
}

.h4b h4 {
    font-weight: 300;
    line-height: 70px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.07em;

}

.h4b p {
    color: #000;
    font-size: 17px;
    line-height: 27px;
    padding-right: 10%;
    padding-left: 10%;
}

.h4b-1 button {
    margin: auto;
    display: block;
    margin-top: 10px;
}

.h4b-2 button {
    margin: auto;
    display: block;
    margin-top: 20px;
}

.faq-banner {
    /* 15.06 */
    width: 100%;
    position: relative;
    min-height: 300px;
    margin-top: 40px;
}

.faqb-overlay {
    position: relative;
    background-image: linear-gradient(to right, rgb(255 69 69), rgb(253 88 177 / 71%));
    padding: 65px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.faqb-overlay > * {
    position: relative;
    z-index: 2;
}

.faqb-overlay:after {
    content: "";
    z-index: 1;
    position: absolute;
    left: -10%;
    top: -10%;
    width: 120%;
    height: 120%;
    background-image: url(../images/faq-bg-home.png);
    opacity: 0.3;
    background-size: cover;
}

.faq-banner h1 {
    margin-bottom: 40px;
    color: #000;
    font-size: 40px;
    line-height: 70px;
    font-weight: 900;
    text-align: left;

}

.faq-banner ul + ul {
    margin-left: 40px;
}

.faq-banner ul a {
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 24px;

}

.faq-banner li a {
    font-size: 14px;
    line-height: 20px;
}

.no-padding {
    padding: 0 !important
}

.go_top {
    line-height: 40px;
    cursor: pointer;
    width: 40px;
    background: #5867dd;
    color: #fff;
    position: fixed;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    right: -webkit-calc((100% - 1140px)/ 2);
    right: calc((100% - 1140px)/ 2);
    z-index: 111;
    bottom: 80px;
    text-align: center
}

.go_top span {
    display: inline-block
}

.footer-big {
    padding: 105px 0 65px 0
}

.footer-big .footer-widget {
    margin-bottom: 40px
}

.footer--light {
    background: #2E2E2D;
}

.footer-big .footer-menu ul li a,
.footer-big p,
.footer-big ul li {
    color: #FFF;
    line-height: 23px;
}

.footer-menu {
    padding-left: 48px
}

.footer-menu ul {
    list-style: none;
    padding: 0px;
}

.footer-menu ul li a {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 32px;
    -webkit-transition: .3s;
    -o-transition: .3s;

    transition: .3s
}

.footer-menu ul li a:hover {
    color: #5867dd
}

.footer-menu--1 {
    width: 100%
}

.footer-widget-title {
    line-height: 42px;
    margin-bottom: 10px;
    font-size: 14px;

    text-transform: uppercase;
    color: #34D6E2;
}

.mini-footer {
    background: #192027;
    text-align: center;
    padding: 32px 0
}

.mini-footer p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #999
}

.mini-footer p a {
    color: #5867dd
}

.mini-footer p a:hover {
    color: #34bfa3
}

.widget-about img {
    display: block;
    margin-bottom: 30px
}

.widget-about p {
    font-weight: 400
}

.widget-about .contact-details {
    margin: 30px 0 0 0
}

.widget-about .contact-details li {
    margin-bottom: 10px
}

.widget-about .contact-details li:last-child {
    margin-bottom: 0
}

.widget-about .contact-details li span {
    padding-right: 12px
}

.widget-about .contact-details li a {
    color: #5867dd
}

@media (max-width:991px) {
    .footer-menu {
        padding-left: 0
    }
}

.mini-footer li a {
    float: left;
    font-size: 14px;
    color: #FFF;
    text-transform: uppercase;
}

.mini-footer ul {
    display: inline-block;
    margin: auto;
}

.mini-footer ul li {
    float: left;
    margin-left: 15px;
}

@media (max-width: 767.98px) {
    .h2-banner-sm span {
        font-size: 28px;
    }

    .h2-banner-sm {
        height: unset;
    }

    .h2-banner-sm img {
        position: unset;
        margin-top: 10px;
    }

    .h2-banner-sm img {
        width: 200px;
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    .h4b-1 {
        height: 440px;
        margin-bottom: 15px;
    }

    .h4-banners img {
        bottom: -7px;
    }

    .h4b-2 {
        height: 440px;
    }

    .faq-banner h1 {
        text-align: center;
        margin-top: 10%;
    }

    .look-btn {
        width: 96%;
    }

    .h3-banner {
        height: unset !important;
        margin-left: 0px;
    }

    .h2-banner-sm h1 {
        font-size: 25px !important;
        text-align: left;
    }

    .h2b-3 h1 {
        font-size: 54px !important;
    }

    .h2b-3 {
        display: inline-table;
        height: unset;
    }

}


.navbar-collapse .container-h-icons span {
    width: 82%;
    font-size: 9px;
}








/*Murat Karaer*/
.footerLogo a {
    display: inline-block;
}

.footerLogo a img {
    max-width: 339px;
}

.footerMenu > strong {
    display: block;
    line-height: 30px;
    font-weight: 900;
    color: #34D6E2;
    font-size: 14px;
    text-transform: uppercase;
}

.footerMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerMenu + .footerMenu {
    margin-left: 20px;
}

.footerMenu ul li a {
    display: block;
    line-height: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

#page {
    padding-top: 68px;
}

#pageHeader {
    padding: 55px 0
}

#pageHeader .pageTitle {
    display: block;
    letter-spacing: -0.071px;
    color: #2E2E2D;
    font-size: 55px;
    font-weight: 900;
    line-height: 51px;
}

.breadcrumb {
    margin-bottom: 0;
    background: transparent;
}

.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item a {
    font-size: 16px;
    line-height: 19px;
    color: #1D1F1E;
    letter-spacing: 0.14em;
    text-transform: uppercase
}

.breadcrumb .breadcrumb-item.active,
.breadcrumb .breadcrumb-item.active a {
    font-weight: 700;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 15px 0 15px;
}

.greenBg {
    background: rgb(57, 232, 144);
    background: -moz-linear-gradient(90deg, rgba(57, 232, 144, 1) 0%, rgba(88, 253, 240, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(57, 232, 144, 1) 0%, rgba(88, 253, 240, 1) 100%);
    background: linear-gradient(90deg, rgba(57, 232, 144, 1) 0%, rgba(88, 253, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#39e890", endColorstr="#58fdf0", GradientType=1);
}

.redBg {
    background: rgb(255, 87, 132);
    background: -moz-linear-gradient(90deg, rgba(255, 87, 132, 1) 0%, rgba(255, 105, 60, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 87, 132, 1) 0%, rgba(255, 105, 60, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 87, 132, 1) 0%, rgba(255, 105, 60, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5784", endColorstr="#ff693c", GradientType=1);
}

.yellowBg {
    background: rgb(253, 164, 88);
    background: -moz-linear-gradient(90deg, rgba(253, 164, 88, 1) 0%, rgba(255, 198, 69, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(253, 164, 88, 1) 0%, rgba(255, 198, 69, 1) 100%);
    background: linear-gradient(90deg, rgba(253, 164, 88, 1) 0%, rgba(255, 198, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fda458", endColorstr="#ffc645", GradientType=1);
}

.pinkBg {
    background: rgb(253, 88, 177);
    background: -moz-linear-gradient(90deg, rgba(253, 88, 177, 1) 0%, rgba(255, 69, 69, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(253, 88, 177, 1) 0%, rgba(255, 69, 69, 1) 100%);
    background: linear-gradient(90deg, rgba(253, 88, 177, 1) 0%, rgba(255, 69, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd58b1", endColorstr="#ff4545", GradientType=1);
}

.blueBg {
    background: rgb(68, 197, 235);
    background: -moz-linear-gradient(90deg, rgba(68, 197, 235, 1) 0%, rgba(75, 233, 245, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(68, 197, 235, 1) 0%, rgba(75, 233, 245, 1) 100%);
    background: linear-gradient(90deg, rgba(68, 197, 235, 1) 0%, rgba(75, 233, 245, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#44c5eb", endColorstr="#4be9f5", GradientType=1);
}

.repairGroup {
    padding: 135px 0;
}

.repairGroup a {
    padding: 65px 50px 65px 90px;
    ;
    background: #F7F7F7;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    font-size: 39px;
    font-weight: 800;
    color: #2E2E2D;
    line-height: 55px;
    letter-spacing: -0.07em;
}

.repairGroup a + a {
    margin-top: 30px;
}

.repairGroup a .icon {
    width: 80px;
    text-align: right;
    margin-right: 35px;
}

.customTypeRadio {
    position: relative;
    display: block;
}

.customTypeRadio input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.customTypeRadio input ~ .customTypeimg {
    display: block;
    padding: 38px 0;
    background: #F7F7F7;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    border-radius: 30px;
    border: 5px solid transparent;
}

.customTypeRadio input ~ .customTypeimg .blue {
    display: none;
}

.customTypeRadio input:checked ~ .customTypeimg {
    border-color: #34D6E2
}

.customTypeRadio input:checked ~ .customTypeimg .blue {
    display: inline-block;
}

.customTypeRadio input:checked ~ .customTypeimg .black {
    display: none;
}

.form label {
    font-size: 39px;
    letter-spacing: -0.07em;
    font-weight: 800;
    margin-bottom: .8rem !important;
}

.repairForm {
    padding: 50px 0;
}

.repairForm .requestText {
    font-size: 12px;
    color: #868E96
}

.repairForm > .row.mb-5 {
    margin-bottom: 1rem !important;
}

.repairForm > .form-group.mb-5 {
    margin-bottom: 3.3rem !important;
}

.repairForm > .form-group:nth-child(6) > .row > div:not(:nth-child(-n + 2)) {
    margin-top: 15px;
}

.customSelect {
    position: relative;
    border: 4px solid #2E2E2D;
    -webkit-border-radius: 44px;
    -moz-border-radius: 44px;
    -ms-border-radius: 44px;
    -o-border-radius: 44px;
    border-radius: 44px;
    overflow: hidden;
}

.customSelect:before {
    position: relative;
    z-index: 1;
    content: "";
    position: absolute;
    display: block;
    left: 25px;
    top: 50%;
    width: 15px;
    height: 11px;
    transform: translateY(-50%);
    background-image: url(../icons/ico-select-arrow.png);
    background-size: cover;
    background-position: center;
    transform: translateY(-50%);
}

.customSelect select {
    position: relative;
    padding: 0 60px;
    z-index: 2;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;

    font-size: 19px;
    font-weight: 700;
    line-height: 68px;
    height: auto;
    color: #2E2E2D
}

.customSelect select:focus,
.customSelect select:hover {
    background-color: transparent;
}

.form-control {
    padding: 27px;
    color: #2E2E2D;
    background-color: #F4F4F4;
    border-color: transparent;
    font-size: 14px;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 0.16em;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
}

.form-control::placeholder {
    text-transform: uppercase;
    color: #2E2E2D;
}

.form-control:hover,
.form-control:focus {
    box-shadow: none;
    border-color: transparent;
    background-color: #F4F4F4;
}

textarea.form-control {


    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    border-radius: 22px;
}

.btn-secondary {
    background-color: #2E2E2D;
    border: 4px solid #2E2E2D;
    color: #34D6E2;
    font-size: 19px;
    font-weight: 700;
    line-height: 68px;
    -webkit-border-radius: 44px;
    -moz-border-radius: 44px;
    -ms-border-radius: 44px;
    -o-border-radius: 44px;
    border-radius: 44px;
}

.btn-secondary:hover {
    color: #2E2E2D;
    border-color: #5DCCED;
    background-color: #5DCCED;
}

.btn-primary-outline {
    background-color: transparent;
    border: 4px solid #2E2E2D;
    color: #2E2E2D;
    font-size: 19px;
    font-weight: 700;
    line-height: 68px;
    -webkit-border-radius: 44px;
    -moz-border-radius: 44px;
    -ms-border-radius: 44px;
    -o-border-radius: 44px;
    border-radius: 44px;
}

.btn-primary-outline:hover {
    background-color: #2E2E2D;
    color: #fff;
}

.btn-primary-outline.btn-sm {
    line-height: 49px;
}

.myAccountPage {
    padding: 60px 0;
}

.myAccountPage .AccountPageDesc {
    font-size: 19px;
    line-height: 26px;
    font-weight: 900;
    margin-bottom: 105px;
}

.myAccountPage .accountLinks a + a {
    margin-top: 20px;
}

.myAccountPage .accountLinks a {
    height: 60px;
    padding: 0px 20px;
    line-height: 78px;
    width: 500px;
}

.myAccountPage .accountLinks a .icon {
    width: 45px;
    text-align: center;
    margin-right: 20px;
}

.topBanner {
    margin: 70px 0;
}

.topBanner.grey {
    background-color: #F7F7F7
}

.topBanner.red {
    background-image: linear-gradient(to right, #FD58B1, #FF4545);
    color: #fff;
}

.topBanner {
    padding: 20px 20px 20px 45px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.topBanner .bannerText > * {
    display: block;
}

.topBanner .bannerText > small {
    font-size: 16px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0.1em;
    text-transform: uppercase
}

.topBanner .bannerText strong {
    font-size: 31px;
    line-height: 54px;
    letter-spacing: -0.07em;
    font-weight: 800
}

.topBanner .bannerText .price {
    font-size: 38px;
    line-height: 30px;
    letter-spacing: -0.05em;
    font-weight: 700
}

.topBanner .bannerText .price small {
    font-size: 16px;
    text-decoration: line-through
}

.topBanner .bannerText p {
    color: #2E2E2D;
    line-height: 26px;
    font-size: 17px;
    text-align: left;
}

.topBanner.red .bannerText p {
    color: #fff;
}

.topBanner .bannerText .btn {
    display: inline-block;
    font-size: 15px;
    width: 150px;
    margin-top: 25px;
    line-height: 40px;
}

.topBanner.red .bannerText .btn {
    border-color: #fff;
    color: #fff;
}

.topBanner.red .bannerText .btn:hover {
    background: #fff;
    color: #fd58ae
}

.topBanner .topBannerphoto {
    background: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.asideTitle {
    display: block;
    font-size: 39px;
    font-weight: 800;
    letter-spacing: -0.07em;
    line-height: 55px;
}

.filterDeleteBox {
    margin-top: 1rem !important;
}

.filterDeleteBox strong {
    color: #34D6E2;
    font-size: 20px;
    letter-spacing: 0.07em;
    line-height: 70px;
    text-transform: uppercase
}

.filterDeleteBox a {
    padding: 0 20px;
    margin-top: -10px;
}

.filterDeleteBox a img {
    margin-right: 10px;
}

.asideBox.priceFilter .asideTitle + div.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

aside .priceFilter input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    background-color: #DEDEDE;
    height: 12px;
    border-radius: 10px;
}

aside .priceFilter input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 0px;
    z-index: 1;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: #34D6E2;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

.categoryMoreLink {
    padding: 0 40px;
    font-size: 18px;
    line-height: 38px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    color: #2E2E2D;
    letter-spacing: 0.1em;
}

.categoryList {
    padding: 20px 40px 0;
    max-height: 210px;
    overflow: hidden;
}

.categoryList a {
    display: block;
    color: #2E2E2D;
    letter-spacing: 0.1em;
    font-size: 18px;
    line-height: 38px;
    text-transform: uppercase;
}
.filterList {
    margin: 20px 0;
}
.filterList .customCheckbox label {
    font-style: normal;
    color: #2E2E2D
}
.filterList .customCheckbox + .customCheckbox {
    margin-top: 10px;
}

.productList {
    margin-bottom: 15px;
}

.productList .productItem {
    display: block;
    padding: 15px 15px 20px;
    background: #F7F7F7;
    border-radius: 30px;
    color: #2E2E2D;
    margin-bottom: 30px;
    border:3px solid #F7F7F7
}

.productList .productItem:hover {
    text-decoration: none;
    border-color: #707070
}

.productList .productItem:hover strong {
    text-decoration:none;
}

.productList .productPhoto {
    display: block;
    padding: 30px;
    background: #fff;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.productList .productPhoto img {
    max-width: 100%;
}

.productList .productItem .productText {
    display: block;
    padding: 10px 20px;
}

.productList .productItem strong {
    display: block;
    font-size: 30px;
    line-height: 54px;
    letter-spacing: -0.07em;
    font-weight: 800;
    margin-bottom: -15px;
}

.productList .productItem p {
    display: block;
    text-align: left;
    color: #2E2E2D;
    font-size: 17px;
    line-height: 26px;
    max-height: 81px;
    overflow: hidden;
    margin-bottom: 25px;
}

.productList .productItem .price {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.049em;
    font-weight: 700;
}

.productList .productItem .price small {
    font-size: 16px;
    font-weight: 700;
    text-decoration: line-through;
}

.pagination .page-item .page-link {
    line-height: 77px;
    padding: 0 14px;
    font-size: 18px;
    font-weight: 900;
    color: #868686;
    border: 0;
    background: transparent;
}

.pagination .page-item.active .page-link,
.pagination .page-item.next .page-link,
.pagination .page-item.prev .page-link,
.pagination .page-item .page-link:hover {
    background: #F7F7F7;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.searchHeader .searchKeyword {
    line-height: 55px;
    font-size: 39px;
    font-weight: 900;
}

.searchHeader span {
    font-size: 19px;
    font-weight: 900;
    margin-right: 30px;
    line-height: 26px;
}

.searchHeader .searchInput {
    position: relative;
}

.searchHeader .searchInput input {
    line-height: 56px;
    width: 396px;
    max-width: 100%;
    border: 0;
    background: #1D1D1D;
    color: #34D6E2;
    font-size: 12px;
    font-weight: 500;
    padding: 0 50px 0 25px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    border-radius: 32px;
    outline: none;
}

.searchHeader .searchInput input::placeholder {
    color: #34D6E2;
}

.searchHeader .searchInput input + a {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%)
}

.textSearchList a {
    display: block;
    padding: 17px 0;
    text-decoration: none;
    color: #2E2E2D
}

.textSearchList a:not(:first-child) {
    /* Aligning list items to the top */
    align-items: flex-start !important;
}

.textSearchList a strong {
    display: block;
    font-size: 25px;
    line-height: 30px;
}

.textSearchList a:hover strong {
    text-decoration: underline;
}

.textSearchList a p {
    display: block;
    font-size: 17px;
    text-align: left;
    color: #2E2E2D
}

.textSearchList a + a {
    border-top: 1px solid #D1D1D1
}

.textSearchList .listPhoto {
    display: block;
    max-width: 100%;
    min-width: 290px;
    margin-right: 25px;
}

.textSearchList img {
    width: 100%;
}

.faqList {
    padding-top: 3.3rem !important;
}

.faqList .questItem {
    padding: 30px 0;
    padding-bottom: 15px !important;
}

.faqList .questItem strong {
    color: #2E2E2D;
    font-size: 39px;
    line-height: 55px;
    font-weight: 800;
}

.faqList .questItem p {
    color: #2E2E2D;
    text-align: left;
    font-size: 17px;
    line-height: 26px;
    padding-top: 20px;
}

.detailBoxTitle {
    font-size: 39px;
    line-height: 55px;
    letter-spacing: -0.07em;
    font-weight: 800
}

.avisBox {
    margin: 10px 0 60px;
    padding: 47px 40px 36px 65px;
    background: #F7F7F7;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.avisRate {
    padding-right: 45px;
}

.avisRate .stars i {
    font-size: 22px;
    color: #ddd;

}

.ratePoint {
    display: block;
    font-size: 25px;
    line-height: 30px;
}

.rating {
    display: inline-block;
    border: none;

}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 22px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.avisBox .col-lg-7.d-flex.align-items-center {
    padding-left: 45px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #fda658;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    color: #ffc546;
}


.rating > input:checked:disabled ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #fda658 !important;
}

.rating:not(:disabled) > label:hover {
    color: #ddd !important;
}

.rating .bg-warning {
    background: rgb(253, 164, 88);
    background: -moz-linear-gradient(90deg, rgba(253, 164, 88, 1) 0%, rgba(255, 198, 69, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(253, 164, 88, 1) 0%, rgba(255, 198, 69, 1) 100%);
    background: linear-gradient(90deg, rgba(253, 164, 88, 1) 0%, rgba(255, 198, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fda458", endColorstr="#ffc645", GradientType=1);
}

.comments .comment .ratePoint {
    font-size: 20px;
}

.comments .commentsName {
    display: block;
    font-style: normal;
    font-size: 19px;
    margin-bottom: 5px;
    line-height: 26px;
    font-weight: 900
}

.comments .commentText {
    font-size: 15px;
    line-height: 26px;
}

.comments .rating > label {
    margin-bottom: 0;
}

.comments .rating > label:before {

    font-size: 19px;
    margin-bottom: 0;

}

.comments .commentItem + .commentItem {
    margin-top: 30px;
}

.detailList ul {
    padding: 0;
    margin-top: 25px;
    font-size: 17px;
    line-height: 26px;
    color: #2E2E2D;

    list-style-type: none;
}

.detailList ul li {
    position: relative;
    padding-left: 25px;
}


.pointList ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 17px;
    height: 17px;
    background-image: url(../icons/ico-list-check.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
}

.detailContentBox {
    background: #F7F7F7;
    padding: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.featureTitle {
    display: block;
    line-height: 26px;
    font-size: 19px;
    font-weight: 900;
}

.textFeatures p {
    display: block;
    text-align: left;
    line-height: 26px;
    color: #2E2E2D;
    font-size: 17px;
}

.faqProduct {
    margin: 50px 0;
    padding: 50px 20px;
    background: rgb(253, 88, 177);
    background: -moz-linear-gradient(270deg, rgba(253, 88, 177, 1) 0%, rgba(255, 69, 69, 1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(253, 88, 177, 1) 0%, rgba(255, 69, 69, 1) 100%);
    background: linear-gradient(270deg, rgba(253, 88, 177, 1) 0%, rgba(255, 69, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd58b1", endColorstr="#ff4545", GradientType=1);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.faqProduct strong {
    font-size: 31px;
    font-weight: 800;
    line-height: 54px;
    letter-spacing: -0.07em;
    color: #fff;
}

.faqProduct span {
    font-size: 25px;
    color: #fff;
    padding: 0 20px;
    line-height: 26px;
}

.faqProduct a {
    padding: 5px 30px;
}

.productTop {
    margin: 50px 0 30px;
    padding: 30px 35px;
    background: #f7f7f7;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.productSlider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.productSlider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.productSlider .swiper-slide {
    background-size: cover;
    background-position: center;
}

.productSlider .mySwiper2 {
    height: 80%;
    width: 100%;
    padding: 20px;
    background: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

.productSlider .mySwiper {
    height: 120px;
    box-sizing: border-box;
    padding: 10px 0;
    background: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    margin-top: 10px;
}

.productSlider .mySwiper .swiper-slide {
    width: 25%;
    height: 100px;
    opacity: 0.4;
}

.productSlider .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.productSlider .mySwiper .swiper-slide img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: cover;
}

.productSlider .mySwiper .swiper-button-prev::after {
    content: url(/assets/icons/ico-arrow-next.png);
    position: absolute;
    transform: translateY(-20%) scaleX(-1);
}
.productSlider .mySwiper .swiper-button-next::after {
    content: url(/assets/icons/ico-arrow-next.png);
    position: absolute;
    transform: translateY(-20%);
}

.productTopDetail {
    padding: 0 50px;
    padding-right: 2rem !important;
}

.productTopDetail h2 {
    margin-bottom: 20px;
    font-size: 41px;
    line-height: 54px;
    font-weight: 900;
    letter-spacing: -0.07em;
}

.productTopDetail .price {
    font-size: 38px;
    line-height: 30px;
    letter-spacing: -0.04em;
    font-weight: 700;
    margin-bottom: 10px;
}

.productTopDetail .price small {
    font-size: 16px;
    text-decoration: line-through
}

.productTopDetail .productTopTitle {
    font-size: 15px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.1em;
}

.productTopDetail .productSelect {
    display: inline-block;
}

.productTopDetail .productSelect select {
    width: auto;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    padding: 0 20px 0 45px;
    line-height: 38px;
}

.productTopDetail > div:nth-child(2) {
    margin-bottom: 5px;
}

.selectcolours .colour {
    position: relative;
}

.selectcolours .colour + .colour {
    margin-left: 20px;
}

.selectcolours .colour input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.selectcolours .colour input ~ span {
    display: inline-block;
    margin-right: 5px;
    width: 29px;
    height: 28px;
    border: 4px solid transparent;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 50%;

}

.selectcolours .colour > input:checked ~ span {
    border-color: #41D3E5
}

.selectcolours .colour label {
    margin: 0;
    font-size: 17x;
    line-height: 26px;
    font-style: italic;
}

.productMiniDesc {
    font-size: 17px;
    line-height: 26px;
    font-style: italic;
}

.productTopDetail .stock {
    display: block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.1em;

}

.productTopDetail .stock i {
    font-style: normal;
    color: #57CCEF;
}

.contactHeader {
    padding-top: 50px;
    padding-bottom: 85px;
}

.contactHeader h3 {
    font-size: 39px;
    line-height: 55px;
    font-weight: 800;
    letter-spacing: -0.07em;
    margin-bottom: 1rem;
}

.contactHeader span {
    font-size: 19px;
    font-weight: 900;
    line-height: 26x;
    margin-bottom: 30px;
}

.dropdown-form {
    padding: 14px 20px;
    background: #F4F4F4;
    color: #B5B5B5;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.16em;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
    outline: none;
    box-shadow: none;
}

.dropdown.show .dropdown-form {

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.dropdown-form + .dropdown-menu {
    width: 100%;
    top: 0;
    padding-bottom: 20px !important;
    background: #F4F4F4;
    box-shadow: none;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;

}

.dropdown-form + .dropdown-menu a {
    color: #B5B5B5;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.16em;
    font-weight: 900;
    text-transform: uppercase;
}

.dropdown-form + .dropdown-menu a:hover {
    background: transparent;
    color: #212529
}

.contactForm {
    margin-bottom: 3rem;
}

.contactForm textarea {
    height: calc(100% - 15px)
}

.contactForm .formTitle {
    display: block;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 26px;
    font-weight: 900;
}

.contactForm .form-group small {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #959595;
    margin-top: 10px;
}

.gordon {
    margin-top: 2.8rem !important;
}


.progressBasket {
    margin: 30px 0 0;
}
.progressBasket  strong {
    color: #fff;
    font-size: 21px;
    line-height: 19px;
}
.progressBasket strong.active {
    color: #2E2E2D
    }
.progressBasketBar  {
    margin-top: 15px;
}
.progressBasketBar .progress {
    background: #fff;
    height: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.progressBasketBar .progress .progress-bar {
    background-color: #1D1D1D
}


.basketList {
    padding: 120px 0;
}

.basketHeader {
    padding: 0 30px;
    font-size: 18px;
    font-weight: 300;
    line-height: 55px;
    letter-spacing: -0.07em;
}

.basketItem {
    padding: 20px;
    background: #F7F7F7;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.basketItem .basketItemPhoto {
    background: #fff;
    max-width: 237px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    padding: 10px;
}

.basketItem .basketItemPhoto img {
    max-height: 210px;
    width: auto;
}

.basketItem .basketItemDetail {
    padding: 0 30px;
}

.basketItem .basketItemDetail > * {
    display: block;
    color: #2E2E2D
}

.basketItem .basketItemDetail strong {
    font-size: 41px;
    line-height: 54px;
    letter-spacing: -0.07em;
}

.basketItem .basketItemDetail span {
    margin-top: 10px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.1em;
}

.basketItem .basketItemDetail i {
    font-size: 17px;
    line-height: 26px;
}

.basketItem .basketItemDetail p {
    color: #2E2E2D;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
}

.basketItem .stock {
    font-size: 15px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0.1em;
}

.basketItem .stock.true {
    color: #57CCEF
}

.basketItem .stock.true:before {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 5px;
    width: 19px;
    height: 19px;
    background-image: url(../icons/ico-list-check.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 68px;
}

.basketItem .price > * {
    display: block;
}

.basketItem .price strong {
    font-size: 38px;
    line-height: 30px;
    letter-spacing: -0.049em;
}

.basketItem .price small {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: line-through
}

.basketItem .customSelect {
    margin-right: 5px;
}

.basketItem .customSelect:before {
    left: 15px;
}

.basketItem select {
    padding: 0 40px;
    line-height: 50px;
}

.basketItem .customSelect + a {
    height: 50px;
    width: 50px;

    text-align: center;
    padding: 0;
    line-height: 40px;
}

.basketItem .total {
    font-size: 38px;
    line-height: 30px;
    letter-spacing: -0.049em;
    font-weight: 700;
}

.basketFooter {
    margin-top: 60px;
}

.basketFooterPrice {
    padding-top: 15px;
    padding-bottom: 15px;
}

.basketFooterPrice span {
    line-height: 58px;
    font-size: 25px;
    font-weight: 700;
}

.basketFooterPrice i {
    font-size: 38px;
    font-style: normal;
    line-height: 58px;
}

#basketFooterButtons {
    margin-top: 10px;
}

#basketFooterButtons .d-block.text-right {
    margin-top: -25px;
}

.basketFooter small {
    font-size: 13px;
    line-height: 24px;
    font-style: italic;
    color: #898989;
}

.basketLogin {
    padding: 145px 0;
}

.basketLogin h3 {
    font-size: 39px;
    line-height: 55px;
    font-weight: 800;
    letter-spacing: -0.07em;
    margin-bottom: 40px;
}

.basketLogin .form-group {
    margin-bottom: 1.2rem;
}

.basketLogin .form-control {
    margin-bottom: 5px;
}

.basketLogin small {
    color: #959595;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
}

.basketAdress {
    margin: 80px 0;
}

.basketAdress label {
    font-size: 19px;
    font-weight: 900;
    color: #2E2E2D;
    line-height: 26px;
    margin-bottom: 20px;
}
.customCheckbox label {
        line-height: normal;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #2E2E2D;
    margin-bottom: 0;
}
.customCheckbox .checkinput {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    width: 14px;
    height: 14px;

}

.customCheckbox .checkinput input ~ span {
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #B7B7B7;
    background: #fff;
}

.customCheckbox .checkinput input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.customCheckbox .checkinput input:checked ~ span {
    background: #57CCEF;
    border-color: #57CCEF;
}
.customCheckbox .checkinput input:checked ~ span:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../icons/ico-check-white.svg);
    width: 8.17px;
    height: 6.5px;
    left: 50%;
    top: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%,-50%)
}
.adressListTitle {
    margin-bottom: 15px;
    font-weight: 900;
    color: #2E2E2D;
    font-size: 19px;
    line-height: 26px;
}
.adressListDetail span {
    display: block;
    font-size: 17px;
    line-height: 26px;
    color: #2E2E2D
}
.adresslistBox {
    padding: 30px;
    background: #F7F7F7;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
.adresslistBox a.btn {
    padding: 5px 0;
    line-height: 40px;
}
.adresslistBox a.btn img{
    margin-right: 10px;
}
.basketCargo {
        margin: 80px 0;
}
.basketCargoItem {
    padding: 40px 30px;
    background: #F7F7F7;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
.cargoRadio  {
    position: relative;
}
.cargoRadio input ~ span {
    position: relative;
    display: block;
    background: #fff;
    border:1px solid #CBCBCB;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.cargoRadio  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
}
.cargoRadio  input:checked ~ span:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 28px;
    height: 28px;
    background: #34D6E2;
    transform: translate(-50% , -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.basketCargoItem .icon {
    display: block;
    width: 80px;
    text-align: center;
}
.basketCargoItem + .basketCargoItem {
    margin-top: 30px;
}
.cargoDetail strong {
    display: block;
    color: #2E2E2D;
    font-size: 41px;
    line-height: 54px;
    letter-spacing: -0.07em;
}
.cargoDetail span{
    margin: 0;
    letter-spacing: 0.1em;
    color: #2E2E2D;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}
.basketCargoItem .cargoPrice {
    color: #2E2E2D;
    font-size: 38px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.basketSummary {
    margin: 80px 0;
}
.summaryTitle {
    font-size: 39px;
    line-height: 55px;
    font-weight: 900;
    color: #2E2E2D
}
.paymentItem {
    margin-bottom: 30px;
    padding: 50px;
    background: #F7F7F7;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
.paymentItem .customCheckbox label {
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
}
.paymentItem .form-control {
    background: #fff;
}
.summaryDetail {
    padding: 45px;
       background: #F7F7F7;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    
}
.summaryDetail .articles {
    padding: 0px 0 20px;
}
.summaryDetail .articles * {
    display: block;
}
.summaryDetail .articles strong {
    color: #2E2E2D;
    font-size: 25px;
    font-weight: 700;
    line-height: 58px;
}
.summaryDetail .articles span {
        color: #2E2E2D; 
    font-style: italic;
    line-height: 26px;
    font-size: 15px;
}
.summaryDetail .summaryDetailItem .itemDet  strong {
    display: block;
color: #2E2E2D;
    font-weight: 900;
    font-size: 30px;
    line-height: 54px;
}
.summaryDetail .summaryDetailItem .itemDet {
    padding: 20px 0;
}
.summaryDetail .summaryDetailItem .itemDet  span {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
}
.summaryDetail .summaryDetailItem .itemDet  span  s {
    font-size: 16px;
}
.summaryDetail .summaryTotal {
    padding: 25px 0 60px;
}
.summaryDetail .summaryTotal *{
    display: block;
}
.summaryDetail .summaryTotal strong {
    font-weight: 700;
    color: #2E2E2D;
    font-size: 25px;
    line-height: 58px;
}
.summaryDetail .summaryTotal  span {
    color: #34D6E2;
    font-size: 38px;
    font-weight: 700;
    line-height: 30px;
}
.summaryDetail .summaryAdress .adressTop strong {
    color: #2E2E2D;
    font-size: 25px;
    line-height: 58px;
    
}
.summaryDetail .summaryAdress span {
    display: block;
        color: #2E2E2D; font-size: 17px;
    line-height: 26px;
}
.summaryDetail .summaryAdress +.summaryAdress {
    margin-top: 40px;
}
.summarypromoCode > strong {
    display: block;
    font-size: 39px;
    line-height: 55px;
    font-weight: 700;
    color: #2E2E2D;
    margin-bottom: 30px;
}
.summarypromoCode .promoBox {
    padding: 25px 40px;
    background: #34D6E2;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}
.summarypromoCode .promoBox input {
    height: 50px;
    padding: 0 27px;
}
.summarypromoCode .promoBox a {
    line-height: 45px;
    height: 50px;
    padding: 0 19px;
}